.a {
    .myMixin();
}
.b {
    background: rebeccapurple;
    .myMixin();
}
.c {
    .myOtherMixin();
    .myMixin();
}
.d {
    .myOtherMixin();
    .myMixin();
}
.e {
    background: rebeccapurple;

    .f {
        background: transparent;
        .myMixin();
    }
}